/* body { margin: 0; padding: 0; } */

.root {
  position: relative;
  /*height: 100%;*/
  /* FIXME */
  /*min-height: 720px;*/
}

.one-tabstrip {
/*  position: absolute;*/
  top: 0;
  left: 0;
  margin-right: 12px;
}

.one-contents-container {
/*  margin-top: -1px; *//* boo, hide border */
  width: 100%;
  height: 100%;
  position: relative;
  /* FIXME */
  /* background-color: blue; */
  position: absolute;
  margin-top: 24px; /* tabstrip size */
  top: 0;
  left: 0;
}

.one-contents {
  /* FIXME */
  /* background-color: red; */
  width: 100%;
  height: 100%;
  /*border: 1px solid black;*/
  /* FIXME */
  /*min-height: 480px;*/
}

