<html>
<!--
  Author: lazyboybd@gmail.com
  Description: Sample template for html.
-->
  <head>
<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<style type="text/css">
body {
  margin: 0;
}
</style>
<script type="text/javascript" src="a.js"></script>

  </head>
  <body>
    <div id="logdiv" style="font-size: 13px; color: red; border 1px solid gray;">Logs<br></div>

<script>
  lb.doDemo = function() {
    _log_to_div(+new Date);
    _log_to_div('abacus', 'batman', 123);
  };
  lb.doDemo();
</script>

  </body>
</html>
